/******************************************************************

Stylesheet: 768px以上のモニタで適用

******************************************************************/
#contents {
    margin: 0 50px;
}

.coupon{
    margin: 100px auto;
}